.wel-come {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.introduce {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
/*Style height*/
.h-450 {
  height: 450px;
}

.object-t-cover {
  object-fit: cover;
}

.b-select {
  width: 100%;
  height: 100px;
  margin-top: 50px;
}

/*Style width*/
.w-10 {
  width: 10%;
}

/*Style border*/
.bd-r {
  border-radius: 50%;
}

/*Style text*/
.ta-ct {
  text-align: center;
}

@media (max-width: 770px) {
  .w-30 {
    width: 30% !important;
  }
}
